/* Tạo biến đếm, rs = 0 */
.box{
    counter-reset: section;
    padding-left: 30px;
    background-color: aqua;
}
h2{
    /* tăng biến lên 1 */
    counter-increment: section;
/* tạo biến đếm và reset biến đếm thẻ 3 về 0 */
counter-reset: sub-section;
}

h2::before{
    content: "Phần" counter(section)": ";
    color: red;
}

h3{
    counter-increment: sub-section;
}

h3::before{
    content: counter(section) "." counter(sub-section);

}