h1,p{
    /* Ctrl + / :note */
color:coral;
/* Kiểu chữ */
font-style: italic;
/* Phong chữ */
font-family:Arial, Helvetica, sans-serif;
/* Căn giữa */
text-align: center;
/* Cỡ chữ */
font-size: 35px;
/* Viết hoa, thường */
text-transform: uppercase;
}