.box{
    width: 200px;
    height: 200px;
    background-image: url(./Img/ava.png) ;
    background-position: center;
    background-size: cover;
clip-path: circle(50% at 40% 70%);
clip-path: inset(20px );
clip-path: inset(20px 50px 80px);
clip-path: inset(20px 50px 80px 30px);
clip-path: inset(20px round 15px 50px 30px 15px);
clip-path: polygon(0 0, 100% 0, 100% 100%,30% 100%);
clip-path: polygon(0 0,100% 0,100% 100%,50% 80%,0 100%);
border-radius: 15px;}
        





