body{
    background-color: gray;
}
.Nghi_pham{
    width: 400px;
    height: 500px;
    background-color: cyan;
    overflow: scroll;
}
h2{
    background-color: brown;
    position: sticky;
    top: 0;

}