body{
    background-color: gray;
}
.box{
    width: 200px;
    height: 200px;
    background-image: url(./Img/1.PNG);
    border: 50px dotted ;
    padding: 50px;
    /* Đi về cội nguồn */
   background-clip: border-box;
   background-clip: padding-box;

}
/* Có thể dùng màu từ css gradient */
.TheNight_Highlight{
    background-color: blue;
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
}